<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-content-mountains">
    </div>
    <div class="carousel-content-title">
      <h1>Alex Smith</h1>
      <p>Developer</p>
    </div>
    <div class="carousel-item active">
      <%= image_tag "introduction-day.svg", alt: "First Slide", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "introduction-dusk.jpg", alt: "Second Slide", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "introduction-night.jpg", alt: "Third Slide", class:"d-block w-100" %>
    </div>
  </div>
</div>
<div class="experience-wrapper">
  <h4>How can I help?</h4>
  <div class="experience-wrapper-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="experience-wrapper-content-strategy">
          <%= image_tag "strategy-icon.svg", alt: "alttext", :class => "strategy-icon" %>
          <h4>Strategy</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dicta esse ratione tenetur veniam rem rerum quos tempore qui sunt aut reiciendis saepe adipisci, placeat mollitia voluptatum sint deleniti temporibus.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="experience-wrapper-content-design">
          <%= image_tag "design-icon.svg", alt: "alttext", :class => "design-icon" %>
          <h4>Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur possimus dolores vitae, fuga voluptatum, blanditiis beatae aliquid molestiae placeat ea reprehenderit nemo. Ullam repellat ratione numquam. Eaque doloremque laborum vitae?</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="experience-wrapper-content-development">
          <%= image_tag "development-icon.svg", alt: "alttext", :class => "development-icon" %>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore quaerat minima, iusto incidunt enim nisi sapiente in officia consequuntur deserunt velit, sed quos architecto quo rerum, tenetur odit, reprehenderit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="get-in-touch-wrapper">
  <h4>Get in touch</h4>
  <div class="get-in-touch-wrapper-wechat-qr">
    <%= image_tag "wechat-good.svg", alt: "wechat", :class => "wechat-icon" %>
  </div>
  <p>I'm always interested in talking about interesting projects. If you'd like to get in touch, scan the QR code for WeChat. If you're not in China, you can contact me through linkedin, email, or instagram.</p>
  <div class="experience-wrapper-content-icons">
    <% link_to "https://www.linkedin.com/in/smithavt14", target: "_blank" do %>
      <div>
        <i class="fab fa-linkedin"></i>
      </div>
    <% end %>
    <% link_to "smithavt14@gmail.com", target: "_blank" do %>
      <div><i class="fas fa-envelope"></i></div>
    <% end %>
    <% link_to "https://github.com/smithavt14", target: "_blank" do %>
      <div><i class="fab fa-github"></i></div>
    <% end %>
    <% link_to "https://www.instagram.com/smithavt14", target: "_blank" do %>
      <div><i class="fab fa-instagram"></i></div>
    <% end %>
  </div>
</div>
</div>